{% extends 'base.html' %}

{% block board %}
    <table>
    {% for x in board %}
        <tr>
        {% for y in x %}
        <td>{{ y }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>

    <form action="">
        <input type="text" name="guess" id="guess" placeholder="guess" required>
        <input type="submit" name="submit" id="submit" class="enabled">
    </form>

{% endblock %}

{% block data %}
    <div>Result: <span id="result">enter a guess...</span></div>
    <div>Score: <span id="score">0</span></div>
    <div>Timer: <span id="timer">60</span></div>
{% endblock %}